
.calculator-page {
    margin-top: 50px;
  }
  
  h1 {
    color: #007bff;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .col-md-6 {
    margin-bottom: 20px;
  }
  